body {
    font-family: sans-serif;
}
header h1 {
    color: rgb(14, 114, 172);
}
header h1 img {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: -10px;
}
#container {
    display: flex;
    justify-content: center;
}
#signin {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
}
#signin p {
    font-size: small;
    margin-top: -20px;
}
#signin input {
    width: 275px;
    height: 40px;
}
#signin p a {
    text-decoration: none;
    color: rgb(14, 114, 172);
    font-weight: bold;
}
#signin #aJoin button {
    padding: 12px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 20px;
    color: white;
    background-color: rgb(14, 114, 172);
    border: 0px;
    font-weight: bold;
    margin-top: 20px;
}
#signin #gJoin button {
    padding: 7px;
    padding-left: 73px;
    padding-right: 73px;
    border-radius: 20px;
    margin-top: -8px;
    color: rgb(14, 114, 172);
    background-color: white;
    border: 1px solid rgb(14, 114, 172);
    font-weight: bold;
    margin-top: 28px;
}
#or {
    margin-top: -10px;
}
hr {
    display: inline-block;
    width: 125px;
}
#signin #gJoin button img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
#join {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
#join a {
    text-decoration: none;
    color: rgb(14, 114, 172);
    font-weight: bold;
}
footer {
    position: absolute;
    text-align: center;
    background-color: white;
    top: 575px;
    width: 99%;
    margin-left: -10px;
}
footer ul a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
footer ul a li{
    display: inline;
    color: black;
    font-size: 11px;
}
footer ul a:hover li{
    text-decoration: underline;
}
footer ul a li img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
@media only screen and (max-width: 338px){
    #signin #aJoin button {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
    }
    #signin #gJoin button {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
    }
}