<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/Structure/statics/styles/signup.css">
</head>
<body>
    <header>
        <h1>
            Linked <img src="/Structure/statics/images/linkedin.png">
        </h1>
        <p>Make the most of your proffesional life</p>
    </header>
    <div id="container">
        <form id="signup">
            <p>Email</p>
            <input type="email">
            <p>password (6 characters or more)</p>
            <input type="password">
            <p id="conditions">By clicking Agree and join, you agree to the linkedIn <br> <a href="">User Agreement Privacy Policy</a> and <a href="">Cookie Policy</a></p>
            <p id="aJoin">
                <button>Agree & Join</button>
            </p>
            <br>
            <hr/> or <hr/>
            <br>
            <p id="gJoin">
                <button><img src="/Structure/statics/images/google.png"> Join with Google</button>
            </p>
            <p id="sign">Already on LinkedIn? <a href="login.html">Sign in</a></p>
        </form>
    </div>
    <p id="bHelp">Looking to create a page for a bussiness? <a href="">Get help</a></p>
    <footer>
        <ul>
            <a href=""><li><span style="font-weight: bold;">LinkedIn</span><img src="/Structure/statics/images/b-linkedin.png"> @2021</li></a>
            <a href=""><li>About</li></a>
            <a href=""><li>Accessibility</li></a>
            <a href=""><li>User Agreement</li></a>
            <a href=""><li>Privacy Policy</li></a>
            <a href=""><li>Cookie Policy</li></a>
            <a href=""><li>Copyright Policy</li></a>
            <a href=""><li>Brand Policy</li></a>
            <a href=""><li>Guest Controls</li></a>
            <a href=""><li>Commnity Guidelines</li></a>
            <a href=""><li>Language ^</li></a>
        </ul>
    </footer>
</body>
</html>